{{!< main}}

<section>
  <h2>Welcome to Your Blog</h2>

  {{#if posts}}
    {{#each posts}}
      <article class="blog-post">
        <h3>{{title}}</h3>
        <p>{{content}}</p>
        <p>Posted by {{user.username}} on {{createdAt}}</p>
        <a href="/post/{{id}}">Read more</a>
      </article>
    {{/each}}
  {{else}}
    <p>No posts available.</p>
  {{/if}}
</section>
